.DS_Store
.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
*.db
*.egg-info/
backend/.postgres/
mockup/*
!mockup/*.png
docs/*
!docs/*.md
!docs/StockSense.pdf
!docs/StockSense - 8 hours.excalidraw
!docs/StockSense - 8 hours.png
frontend/node_modules/
frontend/dist/
